
body{
    font-family: 'Ubuntu', sans-serif;
}

.card{
    background:rgba(255,255,255,0.3);
}


#startApp{
    /* border-radius: 50%;
    border: 2px solid orange;
    background-color: yellow; */
}


#jumbotronID {
    background-image: url("../images/full-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2rem 2rem;
    display:flex;
    /* height:100%; */
    /* max-height: 100%; */
    align-items: center;
    min-height: 100vh;
    margin-bottom: 0;

}

#jumbotronTxt {
    color: black;
    font-weight: bold;
    /* font-family: 'Press Start 2P', cursive; */
}

#navBarID{
    background:rgba(255,255,255,0.8);
}

#gifHeader{
    border-bottom: 3px solid lightslategray;

}

@media screen and (max-width: 640px) {
    #jumbotronTxt{
        font-size: 1.9em;

    }

}